@import "tailwindcss";

/* WebKit (Chrome, Edge, Safari) */
.custom-scroll::-webkit-scrollbar { width: 0px; height: 0px; }
.custom-scroll::-webkit-scrollbar-track { background: #f3f4f6; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; }
.custom-scroll::-webkit-scrollbar-thumb {
  background:whitesmoke;
  border-radius:0px;
  border: 0px solid #f3f4f6;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover { filter: brightness(0.9); -webkit-filter: brightness(0.9); }

/* Firefox */
.custom-scroll {
  scrollbar-width: none;              /* auto | thin | none */
  scrollbar-color: #059669 #f3f4f6;   /* thumb track */
}